{% extends 'family/base.html.twig' %}

{% block body %}
    <header class="bg-light py-5 "
            style="background-image: url({{ asset('images/admin.jpg') }});background-size: 100%;">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2 text-center py-5 font-weight-bold">SUIVI DES
                        SERVICES </h1>
                </div>
            </div>
        </div>
    </header>
    <!-- PAGE ALERT  -->
    <!-- Page Content -->
    <div class="container">
        <h1 class="my-5 py-5">Liste des membres de votre famille </h1>
        <div class="row">
            {% if user.families is not empty %}
                {% for famille in user.families %}
                    {% for beneficiaire in famille.beneficiaires %}
                        <div class="col-md-4  col-sm-6 mb-5">
                            <div class="card h-100 bg-light">
                                {# <img class="card-img-top w-100 h-10" src="{{ asset('images/'~maLettre~'.jpg')}}" alt="" > #}
                                <div class="card-body bg-light">
                                    <h4 class="card-title text-dark font-weight-bold text-center ">{% if beneficiaire.gender is same as ('M') %}Mr {% else %}Mme {% endif %} {{ beneficiaire.firstName }} {{ beneficiaire.lastName }}</h4>
                                    <hr>
                                    <p class="card-text m-0"><span class="text-info"> <i class="far fa-calendar-alt"> En date du : </i></span>{{ 'now'|date('d/m/Y') }}
                                    </p>
                                </div>
                                <div class="card-footer mx-auto  bg-light">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-sm btn-outline-secondary m-1"><a
                                                        href="{{ path('family_fiches_index',{'id':beneficiaire.id}) }}"
                                                        style="text-decoration: none">Liste des fiches </a></button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-sm btn-outline-secondary "
                                                    style="max-width: 100%"><a
                                                        href="{{ path('family_interventions_index',{'id':beneficiaire.id}) }}"
                                                        style="text-decoration: none">Diag Interventions</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <div class="col">
                    <p class="text-center font-weight-bold text-danger">Aucune famille définie </p>
                </div>
            {% endif %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-5 mb-5">
                    <h2>En quelques mots ...</h2>
                    <hr>
                    <p>Tulipa.fr pour adseniors vous permet d'avoir accès à un suivi immédiat des soins dont bénéficie
                        le(s) membre(s) de votre famille.
                        Cette application est totalement sécurisée et vous offre un confort complémentaire voulu par
                        votre agence adseniors lyon centre .
                    </p>
                    <p>
                        Le fontionnement est intuitif : Pour accéder aux informations du bénéficiaire , il vous suffit
                        de cliquer sur 'Détail'</p>

                    <p>Une page s'affiche alors et vous êtes invité à lire les informations sur les fiches de
                        transmission ou de lire le diagramme des interventions
                        La possibilité vous est donnée de filtrer et d'imprimer les fiches ou les diagrammes</p>

                </div>
                <div class="col-md-4 mt-5 mb-5">
                    <h3>Contact</h3>
                    <hr>
                    <address>
                        <br>AD SENIORS
                        <br> 28 rue Jules Brunard
                        <br> 69007 Lyon
                        <br> RCS PARIS-Siret 81328896600043-code APE 8810A
                        <br> Agrément : SAP813288966
                    </address>
                    <address>
                        <abbr title="Téléphone">T:</abbr>
                        09 72 89 11 43
                        <br>
                        <abbr title="Email">E:</abbr>
                        <a href="mailto:gestion@adseniorslyon.com">gestion@adseniorslyon.com</a>
                    </address>
                </div>
            </div>
        </div>
        <!-- /.container -->

        {#
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                    <h1>John Doe</h1>
                    <p>Architect & Engineer</p>
                    <p>We love that guy</p>
                </div>
            </div>
        </div> #}
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark ">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Tulipa {{ 'now'| date('Y') }} </p>
        </div>
        <!-- /.container -->
    </footer>

{% endblock %}