{% extends 'admin/base.html.twig' %}

{% block title %} Edit User {% endblock %}

{% block body %}

    <div class="container my-5 py-5 ">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Formulaire de modification de : {{ user.firstName }} {{ user.lastName }}</h1>
            </div>
        </div>
        <div class="w-50 mx-auto">
            <div class="bg-light">
                {{ form_start(form) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.is_nurse) }}
                {{ form_row(form.families) }}
                <div class="card border-danger mx- text-center">
                    <h5 class="text-center"> Voulez vous valider ou pas l'utilisateur ? </h5>
                    {{ form_row(form.is_validate) }}
                </div>
                <div class="text-center">
                <input type="submit" class="bg-info  my-3 py-3" value="Valider les modifications">
            </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
