{% extends 'admin/base.html.twig' %}

{% block title %}Hello FicheController!{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center  pt-5 mt-5">FICHES DE TRANSMISSION</h1>
        <div class="mb-5 pb-3">
            <h3 class="text-center pb-2 text-info bg-light"><u>Rédacteur : {{ user.firstName }} {{ user.lastName }}</u></h3>
            {# permet de télécharger le fichier dans document<a href="{{ path('admin_pdf_test',{'id':user.id}) }} " class="btn btn-outline-success">Test pdf </a>#}
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th>Numéro</th>
                    <th>Patient(e)</th>
                    <th>Date de Création</th>
                    <th>Commentaire</th>
                </tr>
                </thead>
                <tbody>
                {% if user.fiches|length>0 %}
                    {% for fiche in user.fiches | reverse %}
                        <tr {% if loop.first %}class="text-danger font-weight-bold border border-danger bg-light" {% endif %}>
                            <td>{{ fiche.id }}</td>
                            <td>{{ fiche.patient.firstName }} {{ fiche.patient.lastName }}</td>
                            <td>{{ fiche.createdAt |date('d/m/Y H:i:s') }}</td>
                            <td>{{ fiche.comment }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Aucune fiche de transmission pour cet intervenant à ce jour :
                            <strong>{{ "now"|date("d/m/Y") }}</strong></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
