{% extends 'admin/base.html.twig' %}


    {% block title %}User index{% endblock %}

    {% block body %}


        <div class="container mb-5 pb-5">
            {# <div>
                 <a class="btn btn-success" href="{{ path('admin_patient_new') }}">Ajouter un intervenant</a>
             </div>#}
            <h1 class="text-center mt-5 pt-5">LISTE DE VOS UTILISATEURS </h1>

            <table class="table table-bordered my-5 ">
                <thead class="thead-dark ">
                <tr class="text-center">
                    <th scope="col">Réf</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Role</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Validé?</th>
                    <th scope="col">Détail</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Transmission</th>

                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.lastName }} {{ user.firstName }}</td>
                        <td>{% if user.roles[0] is same as ('ROLE_ADMIN') %}Admin{% elseif user.roles[0] is same as ('ROLE_INFIRMIER') %}Infirmier{% else %}Auxiliaire {% endif %}</td>
                        <td>{{ user.phone }}</td>
                        <td class="text-center">{{ user.email }}</td>
                        <td {% if user.getIsValidate %}class="text-danger bg-success text-center font-weight-bold" {% else %}class="text-danger bg-warning " {% endif %}>{{ user.getIsValidate }}</td>
                        <td><a class="btn btn-outline-info "
                               href="{{ path('admin_user_show', {'id': user.id}) }}">Détail</a></td>
                        <td><a class="btn btn-outline-secondary"
                               href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a></td>
                        {% if user.fiches|length>0 %}
                        <td><a href="{{ path('admin_user_fiches',{'id': user.id}) }}" class="btn btn-outline-primary">Transmissions
                           de {{ user.firstName}} {{ user.lastName }}</a></td>
                        {% else %}
                            <td>Aucune fiche de transmission pour cet utilisateur</td>
                            {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(users) }}
            </div>


        </div>

    {% endblock %}

