{% extends 'admin/base.html.twig' %}

{% block title %}Détail utilisateur {% endblock %}

{% block body %}


        <div class="container">
            {# <div>
                 <a class="btn btn-success" href="{{ path('admin_patient_new') }}">Ajouter un intervenant</a>
             </div>#}

            <h1 class="text-center mt-5 pt-5">Intervenant : <strong class="text-black-50">{{ user.firstName }} {{ user.lastName }}</strong></h1>
            <div>
                <a class="btn btn-outline-info m-2" href="{{ path('admin_user_index') }}">Retour</a>
            </div>
            <table class="table table-bordered mb-5">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Nom </th>
                    <th>Role</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Transmissions</th>

                </tr>
                </thead>
                <tbody>

                    <tr class="text-center">
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.lastName }} {{ user.firstName }}</td>
                        <td>{% if  user.roles[0] is same as ('ROLE_USER')%} Auxiliaire
                            {% elseif user.roles[0] is same as ('ROLE_INFIRMIER')%}Infirmier(ère)
                            {% elseif user.roles[0] is same as ('ROLE_ADMIN') %}Admin
                            {% else %}Famille{% endif %}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.email }}</td>
                        <td> <a class="btn btn-outline-success"
                                href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a></td>
                        {% if user.fiches|length>0%}
                        <td>  <a href="{{ path('admin_user_fiches',{'id': user.id}) }}" class="btn btn-outline-primary">Transmissions
                                de {{ user.firstName}} {{ user.lastName }}</a></td>
                        {% else %}
                            <td>Aucune fiche de transmission pour cet utilisateur</td>
                        {% endif %}
                    </tr>

                </tbody>
            </table>
        </div>
        <br>




{% endblock %}
