{% extends 'base.html.twig' %}

{% block title %}Hello InterventionController!{% endblock %}

{% block body %}
   <div class="container-fluid">
       <h1 class="text-center pt-5 mt-5">DIAGRAMME DES INTERVENTIONS </h1>
       <a href="{{ path('auxil_home') }}" class="btn btn-outline-info my-2">Retour Accueil</a>

       <table class="table  ">
           <thead class="thead-dark">
           <tr>
               <th scope="col">IDENTIFIANT</th>
               <th scope="col">DATE</th>
               <th scope="col">DOUCHE + SHAMPOING</th>
               <th scope="col">TOILETTE COMPLETE</th>
               <th scope="col">SOINS DE BOUCHE</th>
               <th scope="col">SOINS ESTHETIQUE</th>
               <th scope="col">HABILLAGE</th>
               <th scope="col">PYJAMA</th>
               <th scope="col">ONGLES DES MAINS</th>
               <th scope="col">CREME MASSAGE</th>

               <th scope="col">RASAGE</th>
               <th scope="col">CHANGEMENT DE POSITION</th>

               <th scope="col">REFECTION DU LIT </th>
               <th scope="col">CHANGEMENT DE DRAP</th>
               <th scope="col">ASPIRATEUR</th>
               <th scope="col">VAISSELLE</th>

               <th scope="col">LESSIVE</th>
               <th scope="col">NETTOYAGE SANITAIRE</th>
               <th scope="col">RANGEMENT PLACARD VETEMENT</th>
               <th scope="col">REPASSAGE</th>

               <th scope="col">DEPOUSSIERAGE MEUBLES</th>
               <th scope="col">NETTOYAGE FRIGO</th>
               <th scope="col">NETTOYAGE MICRO ONDE</th>

               <th scope="col">DESCENTE POUBELLE</th>
               <th scope="col">COMMUNICATION</th>
               <th scope="col">COURSES</th>
               <th scope="col">PREPARATION DU PETIT DEJEUNER DU LENDEMAIN</th>
               <th scope="col">PROMENADE</th>
               <th scope="col">APPRETER LE GOUTER</th>

               <th scope="col">REPAS</th>
               <th scope="col">PRISE DE MEDICAMENTS</th>
               <th scope="col">SELLES</th>
               <th scope="col">URINE</th>
               <th scope="col">ETAT CUTANE + FRICTION</th>
           </tr>
           </thead>
           <tbody>
           {% for intervention in interventions | reverse %}
           <tr>
           <td>{{ intervention.id }}</td>
               <td>{{intervention.createdAt |date('d/m/Y H:i') }}  </td>
               {% if intervention.getDoucheShampoing%} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.getToiletteComplete %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.soinsDeBouche %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.soinsEsthetique %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.habillage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.pyjama %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.onglesDeMains %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.cremeMassage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

               {% if intervention.rasage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.changmentDePosition %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

               {% if intervention.refectionLit %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.changementDeDrap %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.aspirateur %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.vaisselle %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.lessive %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

               {% if intervention.nettoyageSanitaire %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.rangementPlacardVetement %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.repassage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.depoussierageMeubles %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

               {% if intervention.nettoyageFrigo %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.nettoyageMicroOnde %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.descentePoubelle %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

               {% if intervention.communication %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.courses %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.preparationPetitDejeunerLendemain %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.promenade %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.appreterLeGout %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.repas %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}


               {% if intervention.priseMedicaments %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.selles %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.urine %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
               {% if intervention.getEtatCutaneFriction %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
           </tr>
           {% endfor %}
           </tbody>
       </table>
 </div>



 <div class="container">
     <table class="table table-bordered " style="width:50%;">
         <thead>
         <tr class="bg-secondary">
             <th scope="col">GROUPE</th>
             <th scope="col" style="width:10%;">TACHES</th>
             {% for intervention in interventions %}
                 <th scope="col" >Valeur</th>
             {% endfor %}
         </tr>
         </thead>
         <tbody>
         <tr>
             <th rowspan="12" class="bg-primary text-center ">SOINS D'HYGIENE ET DE CONFORT</th>
             <th scope="row">ID</th>
             {% for intervention in interventions %}
                 <td>{{ intervention.id }}</td>
             {% endfor %}
         </tr>
         <tr>

             <th scope="row">DATE</th>
             {% for intervention in interventions %}
                 <td>{{ intervention.createdAt|date('d/m/Y H:i') }}</td>
             {% endfor %}

         <tr>
             <th scope="row">DOUCHE + SHAMPOING</th>
             {% for intervention in interventions %}
                 {% if intervention.getDoucheShampoing%} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">TOILETTE COMPLETE</th>
             {% for intervention in interventions %}
                 {% if intervention.getToiletteComplete %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">SOINS DE BOUCHE</th>
             {% for intervention in interventions %}
                 {% if intervention.soinsDeBouche %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">SOINS ESTHETIQUE</th>
             {% for intervention in interventions %}
                 {% if intervention.soinsEsthetique %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">HABILLAGE</th>
             {% for intervention in interventions %}
                 {% if intervention.habillage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">PYJAMA</th>
             {% for intervention in interventions %}
                 {% if intervention.pyjama %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">ONGLES DES MAINS </th>
             {% for intervention in interventions %}
                 {% if intervention.onglesDeMains %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">CREME DE MASSAGE</th>
             {% for intervention in interventions %}
                 {% if intervention.cremeMassage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">RASAGE</th>
             {% for intervention in interventions %}
                 {% if intervention.rasage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">CHANGEMENT DE POSITION</th>
             {% for intervention in interventions %}
                 {% if intervention.changmentDePosition %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th rowspan="12" class="bg-success text-center">ENTRETIEN DOMICILE</th>
             <th scope="row">REFECTION DU LIT</th>
             {% for intervention in interventions %}
                 {% if intervention.refectionLit %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">CHANGEMENT DE DRAP</th>
             {% for intervention in interventions %}
                 {% if intervention.changementDeDrap %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">ASPIRATEUR</th>
             {% for intervention in interventions %}
                 {% if intervention.aspirateur %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

             {% endfor %}
         </tr>
         <tr>
             <th scope="row">VAISSELLE</th>
             {% for intervention in interventions %}
                 {% if intervention.vaisselle %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

             {% endfor %}
         </tr>
         <tr>
             <th scope="row">LESSIVE</th>
             {% for intervention in interventions %}
                 {% if intervention.lessive %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">NETTOYAGE SANITAIRE</th>
             {% for intervention in interventions %}
                 {% if intervention.nettoyageSanitaire %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">RANGEMENT PLACARD VETEMENT </th>
             {% for intervention in interventions %}
                 {% if intervention.rangementPlacardVetement %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">REPASSAGE</th>
             {% for intervention in interventions %}
                 {% if intervention.repassage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">DEPOUSSIERAGE MEUBLES</th>
             {% for intervention in interventions %}
                 {% if intervention.depoussierageMeubles %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">NETTOYAGE FRIGO</th>
             {% for intervention in interventions %}
                 {% if intervention.nettoyageFrigo %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">NETTOYAGE MICRO ONDE</th>
             {% for intervention in interventions %}
                 {% if intervention.nettoyageMicroOnde %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">DESCENTE POUBELLE</th>
             {% for intervention in interventions %}
                 {% if intervention.descentePoubelle %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th rowspan="6" class="bg-light text-center">DIVERS</th>
             <th scope="row">COMMUNICATION</th>
             {% for intervention in interventions %}
                 {% if intervention.communication %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

             {% endfor %}
         </tr>
         <tr>
             <th scope="row">COURSES</th>
             {% for intervention in interventions %}
                 {% if intervention.courses %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">PREPARATION DU PETIT DEJEUNER DU LENDEMAIN</th>
             {% for intervention in interventions %}
                 {% if intervention.preparationPetitDejeunerLendemain %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">PROMENADE</th>
             {% for intervention in interventions %}
                 {% if intervention.promenade %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">APPRETER LE GOUTER</th>
             {% for intervention in interventions %}
                 {% if intervention.appreterLeGout %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th scope="row">REPAS</th>
             {% for intervention in interventions %}
                 {% if intervention.repas %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         <tr>
             <th rowspan="4" class="bg-warning text-center">SURVEILLANCE</th>
             <th scope="row">PRISE DE MEDICAMENTS</th>
             {% for intervention in interventions %}
                 {% if intervention.priseMedicaments %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

             {% endfor %}
         </tr>
         <tr>
             <th scope="row">SELLES</th>
             {% for intervention in interventions %}
                 {% if intervention.selles %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

             {% endfor %}
         </tr>
         <tr>
             <th scope="row">URINE</th>
             {% for intervention in interventions %}
                 {% if intervention.urine %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

             {% endfor %}
         </tr>
         <tr>
             <th scope="row">ETAT CUTANE + FRICTION</th>
             {% for intervention in interventions %}
                 {% if intervention.getEtatCutaneFriction %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
             {% endfor %}
         </tr>
         </tbody>
     </table>
 </div>

{% endblock %}
