{% extends 'base.html.twig' %}

{% block title %}Nouvelle Intervention{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/clignotement.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-5 pt-5 text-center">Créer une intervention</h1>
        <button type="button" class="btn btn-sm btn-danger my-2 image-clignote"><a href="{{ path('intervention_recap',{'id':patient.id}) }}"  style="text-decoration:none;color: white">VOIR L'HISTORIQUE DES INTERVENTIONS</a> </button>

        {{ form_start(form) }}
        <div class="card text-center ">
            <div class="card-header bg-info ">
               ENSEMBLE DES TACHES A EFFECTUER CHEZ : <span class="font-weight-bold">{{ patient.lastName }} {{ patient.firstName }}</span>
            </div>
            <div class="card-body">
               {# <h5 class="card-title">Selectionnez les tâches</h5>#}
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 25rem;">
                            <div class="card-header"> <h5 class="card-title">SOINS D'HYGIENE ET DE CONFORT</h5></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            {{ form_row(form.douche_shampoing) }}
                                            {{ form_row(form.toilette_complete) }}
                                            {{ form_row(form.soinsDeBouche) }}
                                            {{ form_row(form.soinsEsthetique) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                       {{ form_row(form.habillage) }}
                                       {{ form_row(form.pyjama) }}
                                       {{ form_row(form.onglesDeMains) }}
                                        {{ form_row(form.cremeMassage) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            {{ form_row(form.rasage) }}
                                            {{ form_row(form.changmentDePosition, { 'label': 'chgt de position' }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-white bg-secondary mb-3 mx-auto " style="max-width: 25rem;">
                            <div class="card-header"> <h5 class="card-title">ENTRETIEN DOMICILE</h5></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="card-text">{{ form_row(form.refectionLit) }}</p>
                                        <p class="card-text">{{ form_row(form.changementDeDrap) }}</p>
                                        <p class="card-text">{{ form_row(form.aspirateur) }}</p>
                                        <p class="card-text">{{ form_row(form.vaisselle) }}</p>
                                        <p class="card-text">{{ form_row(form.lessive) }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="card-text">{{ form_row(form.nettoyageSanitaire) }}</p>
                                        <p class="card-text">{{ form_row(form.rangementPlacardVetement) }}</p>
                                        <p class="card-text">{{ form_row(form.repassage) }}</p>
                                        <p class="card-text">{{ form_row(form.depoussierageMeubles) }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="card-text">{{ form_row(form.nettoyageFrigo) }}</p>
                                        <p class="card-text">{{ form_row(form.nettoyageMicroOnde) }}</p>
                                        <p class="card-text">{{ form_row(form.descentePoubelle) }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-white bg-success mb-3 mx-auto" style="max-width: 25rem;">
                            <div class="card-header"> <h5 class="card-title">DIVERS</h5></div>
                            <div class="card-body">
                                <div class="form-check">
                                {{ form_row(form.communication) }}
                                {{ form_row(form.courses) }}
                                {{ form_row(form.preparationPetitDejeunerLendemain) }}
                                {{ form_row(form.promenade) }}
                               {{ form_row(form.appreterLeGout) }}
                                {{ form_row(form.repas) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-white bg-info mb-3 mx-auto" style="max-width: 25rem;">
                            <div class="card-header"> <h5 class="card-title">SURVEILLANCE</h5></div>
                            <div class="card-body">
                                <div class="form-check">
                              {{ form_row(form.priseMedicaments) }}
                                {{ form_row(form.selles) }}
                                {{ form_row(form.urine) }}
                                {{ form_row(form.etatCutaneFriction) }}
                                    <div class="row">
                                        <div class="col-12">Auxiliaire : {{ user.firstName }} {{ user.lastName }}</div>
                                        <div class="col-12">Patient : {{ patient.firstName }} {{ patient.lastName }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-warning  ">Valider mon intervention</button>
            </div>
        </div>
            {{ form_end(form)}}
    </div>




{% endblock%}
