<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Perte de mot de passe {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body class="container-fluid">

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Hello!
        </div>
        <div class="card-body">
            <h5 class="card-title">Nouveau  mot de passe </h5>
            {{ form_start(form, {'action': path('user_resetPassword',{'token':token}), 'method': 'POST'}) }}
            <form class="form-inline mx-auto">
                <div class="form-group  mx-auto" style="width: 30%">
                    {{ form_widget(form) }}
                </div>
                <button type="submit" class="btn btn-primary mb-2">Confirmer</button>
            </form>
            {{ form_end(form) }}
        </div>
        <div class="card-footer text-muted">
            {{ 'now'| date('d/m/Y') }}
        </div>
    </div>
</div>

</body>
</html>
