<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}S'enregistrer{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body class="container-fluid">

<div class="container text-center ">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {#Gestion du message flasj#}
    {% for message in app.flashes('success') %}
        <div class="container">
            <div class="alert alert-success">
            {{ message }}
            </div>
        </div>
    {% endfor %}

    <form class="form-signin " action="{{ path('login') }}" method="post">

        <h1 class="h3 mb-3 font-weight-normal">S'identifier </h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" name="_username" class="form-control" placeholder="Votre email" required
               autofocus
               value="{{ lastUserName }}">
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Mot de passe "
               required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Valider</button>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" id="remember_me" name="_remember_me" checked/>

                Se souvenir de moi
            </label>
        </div>

    </form>
    <span><a href="{{path('user_register')}}" class="btn btn-link">Créer un compte </a></span>
    <span><a href="{{path('user_lostpassword')}}" class="btn btn-link" style="color: red;">Mot de passe perdu </a></span>
    <p class="mt-5 mb-3 text-muted">Tulipa &copy; {{ 'now'|date('Y') }}</p>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>





