<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}S'enregistrer{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body class="container-fluid">

<div class="container text-center ">

    <div class="container my-5 py-5 ">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Formulaire d'inscription</h1>
            </div>
        </div>
        <div class="w-50 mx-auto">
            <div class="bg-light">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.password) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.informations) }}
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="bg-info  my-3 py-3" value="Enregistrer">
                </div>
                {{ form_end(form) }}
            </div>
            <div class="text-right">
                <a href="{{ path('login') }}" >* abandonner *</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>

