<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Attente validation{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body class="container-fluid">

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Prise en compte de votre demande
        </div>
        <div class="card-body">
            <h5 class="card-title">Hello</h5>
            <p class="card-text">Bonjour votre demande de réinitialisation de mot de passe est validée.Un email vous a été envoyé à cet effet.Merci de bien vouloir le renvoyer afin de modifier votre mot de passe
                svp  </p>
            <a href="{{ path('login') }}" class="btn btn-primary">Quitter cette page </a>
        </div>
        <div class="card-footer text-muted">
            {{ 'now'| date('d/m/Y') }}
        </div>
    </div>
</div>

</body>
</html>
