<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Attente validation{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>
<body class="container-fluid">

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Prise en compte de votre inscription
        </div>
        <div class="card-body">
            <h5 class="card-title">Hello</h5>
            <p class="card-text">Votre demande d'inscription a bien été prise en compte et sera rapidement traitée par
                nos services.
                Cette étape de vérification est nécéssaire afin de vous assurer une utilisation optimale de
                l'application et de confirmer
                les informations saisies.Un mail de validation vous sera envoyée dans les minutes ou heures à
                venir </p>
            <a href="{{ path('logout') }}" class="btn btn-primary">Quitter cette page </a>
        </div>
        <div class="card-footer text-muted">
            {{ 'now'| date('d/m/Y') }}
        </div>
    </div>
</div>

</body>
</html>





















