<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Accueil</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->

    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/one-page-wonder.css') }}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        {#<a class="navbar-brand" href="{{ path('home') }}"><span class="">home</span></a>#}
        <span class="ml-5 text-white">Bonjour  {% if app.user %} : <strong>{{ user.firstName |upper }} !</strong> {% else %} {% endif %}</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                {% if user.roles[0] is same as("ROLE_USER") %}

                <li class=" mr-5  nav-item">
                    <a class=" nav-link btn btn-primary" href="{{ path('auxil_home') }}">Votre accès : Auxiliaire de vie / Infirmier (ère)  </a>
                </li>
                {% endif %}
                {% if user.roles[0] is same as ("ROLE_SERVICE") %}
                <li class=" mr-5 nav-item">
                    <a class="nav-link btn btn-primary" href="{{ path('service_home') }}">Votre accès : Services</a>
                </li>
                {% endif %}
                {% if user.roles[0] is same as ("ROLE_FAMILY") %}
                <li class="mr-5 nav-item">
                    <a class="  nav-link btn btn-primary" href="{{ path('family_patients') }}">Accès : Famille</a>
                </li>
                {% endif %}
                {% if user.roles[0] is same as ("ROLE_ADMIN") %}
                    <li class="mr-5 nav-item">
                        <a class="  nav-link btn btn-primary" href="{{ path('admin_home') }}">Votre accès : ADMINISTRATEUR</a>
                    </li>
                {% endif %}
                {% endif %}

                {% if not app.user %}
                    <li class="mr-5 nav-item">
                        <a class="  nav-link btn btn-primary" href="{{ path('login') }}">Se connecter</a>
                    </li>
                {% endif %}
                {% if not app.user %}
                    <li class="mr-5 nav-item">
                        <a class="  nav-link btn btn-primary" href="{{ path('user_register') }}">Créer un compte</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            {#<h1 class="masthead-heading mb-0">adseniors</h1>#}
            <h1 class="masthead-subheading mb-0">Tulipa </h1>
            <h4 class=" mb-0">Suivi des fiches de transmission pour adseniors</h4>
            {#<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Entrer</a>#}
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{{ asset('images/adseniors.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Aide et maintien à domicile conçus pour vous.</h2>
                    <p>Depuis 2007 les équipes AD Seniors d'aide à la personne vous accompagnent que vous soyez une personne âgée, une personne en situation de handicap, en perte d'autonomie provisoire
                        ou permanente et cela quelque soit votre degré d'autonomie ou de dépendance.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{{ asset('images/5.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Une aide au quotidien</h2>
                    <p>Le vieillissement de la personne âgée entraîne des situations de perte d'autonomie qu’il est parfois difficile à gérer par les proches.
                        AD Seniors prend soin d'aider la personne âgée ou dépendante en apportant une prestation attentive et professionnelle pour un maintien à domicile en toute tranquillité.
                        L'auxiliaire de vie assiste la personne âgée afin de lui apporter le plus de confort de vie possible.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{{ asset('images/6.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Autonomie!</h2>
                    <p>Nous sommes convaincus que les seniors peuvent continuer à vivre dans leur propre domicile, ce qu’ils souhaitent tous et surtout, en sécurité.
                        Nous souhaitons qu’ils gardent qualité de vie, bien-être, lien social et maintien de leur autonomie tout en bénéficiant d’un suivi médical.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Tulipa {{ 'now'|date('Y') }}</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>
