{% extends 'service/base.html.twig' %}

{% block title %}Accueil Service{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/card.css') }}">
 {% endblock %}

{% block body %}
<header class="bg-light py-5 "  style="background-image: url({{ asset('images/admin.jpg') }});background-size: 100%;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2 text-center py-5 font-weight-bold" >SUIVI DES ACTIVITES </h1>
            </div>
        </div>
    </div>
</header>
<!-- PAGE ALERT  -->
<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            {% for message in app.flashes ('success') %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Page Content -->
<div class="container">

    <!-- /.row -->
    <h2 class="text-center p-2 text-info"> LES 3 DERNIERES FICHES TRANSMISES</h2>
    <div class="row">
        {#{% set lettres= ['A','B','C','D','E','F','G','H'] %}
        {% set longueur= lettres|length %}#}
        {% for fiche in fiches %}
            {# {% set maLettre=lettres[random(longueur-1)] %}#}
            <div class="col-md-4  col-sm-6 mb-5">
                <div class="card h-100 bg-light">
                    {#<img class="card-img-top w-100 h-10" src="{{ asset('images/'~maLettre~'.jpg')}}" alt="" >#}
                    <div class="card-body bg-light">
                        <h4 class="card-title text-dark font-weight-bold text-center ">{% if fiche.patient.gender is same as ('M') %}Mr {% else %}Mme {% endif %} {{ fiche.patient.firstName }} {{ fiche.patient.lastName }}</h4><hr>
                        <p class="card-text m-0"><span class="text-info"><i class="far fa-comments">Commentaire :</i></span> <strong class="text-danger"> {{ fiche.comment }}</strong></p><hr>
                        <p class="card-text m-0"><span class="text-info"><i class="far fa-comments">Note infirmier(ère :</i></span> <strong class="text-danger"> {{ fiche.nurseNote }}</strong></p><hr>
                        <p class="card-text m-0 "><span class="text-info"><i class="fas fa-user-nurse"> Intervenant  :  </i></span>{% if fiche.user.isNurse %}Inf- {% else%}Aux- {% endif%} {{ fiche.user.firstName }} {{ fiche.user.lastName }}</p>
                        <p class="card-text m-0"><span class="text-info"> <i class="far fa-calendar-alt"> En date du : </i></span>{{ fiche.createdAt | date('d/m/Y H:i') }}</p>
                    </div>
                    <div class="card-footer mx-auto  bg-light">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-sm btn-outline-secondary m-1" style="max-width: 100%" ><a href="{{ path('service_fiche_show',{'id':fiche.id}) }}" style="text-decoration: none" >Détails sur la fiche </a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--affichage des intervention réalisées  -->
    <h2 class="text-center p-2 text-dark"> LES 3 DERNIERES INTERVENTIONS REALISEES </h2>
    <div class="row">
        {#{% set lettres= ['A','B','C','D','E','F','G','H'] %}
        {% set longueur= lettres|length %}#}
        {% for intervention in interventions %}
            {# {% set maLettre=lettres[random(longueur-1)] %}#}
            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card h-100 bg-light">
                    {#<img class="card-img-top w-100 h-10" src="{{ asset('images/'~maLettre~'.jpg')}}" alt="" >#}
                    <div class="card-body bg-light">
                        <h4 class="card-title text-dark font-weight-bold text-center ">{% if intervention.patient.gender is same as ('M') %}Mr {% else %}Mme {% endif %} {{ intervention.patient.firstName }} {{ intervention.patient.lastName }}</h4><hr>
                        <p class="card-text m-0"><span class="text-info"> <i class="far fa-calendar-alt"> En date du : </i></span>{{ intervention.createdAt | date('d/m/Y H:i') }}</p>
                    </div>
                    <div class="card-footer mx-auto  bg-light">
                        <button type="button" class="btn btn-sm btn-outline-secondary" style="max-width: 100%"><a href="{{ path('service_intervention_recap',{'id':intervention.patient.id}) }}" >Diagramme d'intervention (détail)</a> </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-8 mt-5 mb-5">
            <h2>En quelques mots ...</h2>
            <hr>
            <p>Il suffit de cliquer sur le lien "Liste des patients " et de voir s'afficher une liste de patients
                concernés par ce service.
                Une fois la liste affichée , il faudra  choisir votre patient afin d'avoir accès à  son
                historique de transmission.</p>
            <p>
                Prenez le temps de lire la dernière fiche de transmission laissée par votre collègue sur ce patient
                .
                C'est à votre tour de cliquer sur le bouton "remplir une fiche de transmission " .</p>
            <p>Une page s'affiche alors et vous êtes invités à confirmer le patient et de remplir
                les commentaires de votre fiche.Il ne vous reste plus qu'à valider votre fiche et c'est tout .La
                date et l'heure sont automatiques</p>
            <a class="btn btn-primary btn-lg" href="{{ path('service_patient_index') }}">Liste des patients &raquo;</a>
        </div>
        <div class="col-md-4 mt-5 mb-5">
            <h3>Contact</h3>
            <hr>
            <address>
                <br>AD SENIORS
                <br> 28 rue Jules Brunard
                <br> 69007 Lyon
                <br> RCS PARIS-Siret 81328896600043-code APE 8810A
                <br> Agrément : SAP813288966
            </address>
            <address>
                <abbr title="Téléphone">T:</abbr>
                09 72 89 11 43
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:gestion@adseniorslyon.com">gestion@adseniorslyon.com</a>
            </address>
        </div>
    </div>

</div>
<!-- /.container -->

{#
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>John Doe</h1>
                <p>Architect & Engineer</p>
                <p>We love that guy</p>
            </div>
        </div>
    </div>#}

<!-- Footer -->
<footer class="py-5 bg-dark ">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Tulipa {{ 'now'| date('Y') }} </p>
    </div>
    <!-- /.container -->
</footer>


{% endblock %}
