.image-clignote  {
    animation-duration: 1s;
    animation-name: clignoter;
    animation-iteration-count: 10;
    transition: none;
}
@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
}
