#tempo {
    width: 300px;
    height: 80px;
    border:2px ridge grey;
    font-size:1.5rem;
    color:gold;
    text-align:center;
    line-height:40px;
    animation-name: monFrames;
    animation-duration: 3s;
    visibility:hidden;
}

@keyframes monFrames {
    from {visibility:visible;
        background-color:grey;}
    to {background-color:gold;
        visibility:hidden;}
}
