<nav class="navbar navbar-expand-sm bg-primary navbar-dark  navbar-fluid fixed-top" >
    <div class="container">
        <a class="navbar-brand" href="{{ path('admin_home') }}"><i class="fas fa-home mr-2"></i>Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('admin_fiche') }}">Historique des Fiches
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('admin_interventions') }}">Historique des Diag d'int
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('admin_patient_fiches') }}">Listes des Patients
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('admin_user_index') }}">Listes des utilisateurs
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon Compte
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('admin_account') }}">Mes infos</a>
                        <a class="dropdown-item" href="{{ path('logout') }}">Me déconnecter</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


