{% extends 'admin/base.html.twig' %}

{% block title %}Création d'une fiche {% endblock %}

{% block body %}
    <div class="container my-3">
        <div class="py-5 mb-2">
            <h1>Fiche de Transmission </h1>
            <p>BENEFICIAIRE : <strong>{{ patient.firstName }} {{ patient.lastName }}</strong></p>
            {{ form_start(form) }}
            <div class="form-group">
                {# utilisation de widget mieux que row pour gestion de condition if  =>voir dans le formType de fiche   #}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="Soumettre" class="btn btn-warning">
                </div>
                {{ form_end(form)}}
            </div>
        </div>
        <!-- -->

        <div class="container">
            <h1 class="text-center">HISTORIQUE DES FICHES </h1>
            <div class="mb-5 pb-3">
                <p class="text-info"><u>Bénéficiaire :   {{ patient.lastName }} {{ patient.firstName }} </u></p>
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Numéro</th>
                        <th>Bénéficiaire</th>
                        <th>Date</th>
                        <th>Commentaire</th>
                        <th>Note Infirmier(ère)/ Services </th>
                        <th>Intervenant</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fiche in fichiers %}
                        <tr {% if loop.first %}class="text-danger font-weight-bold border border-danger bg-light" {% endif %} >
                            <td>{{ fiche.id }}</td>
                            <td>{{ fiche.patient.lastName }} {{ fiche.patient.firstName }}</td>
                            <td>{{ fiche.createdAt |date('d/m/Y H:i:s') }}</td>
                            <td>{{ fiche.comment }}</td>
                            <td {% if user.isNurse  and loop.index>1%}class="text-primary" {% endif %}>{{ fiche.nurseNote }}</td>
                            <td>{% if fiche.user.isNurse %} Inf: {% elseif fiche.user.getroles[0] is same as ('ROLE_ADMIN') %} ADMIN:{% else %}Aux: {% endif %}{{ fiche.user.lastName }} {{ fiche.user.firstName }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucune fiche de transmission pour ce client à ce jour :
                                <strong>{{ "now"|date("d/m/Y") }}</strong></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>



    </div>


{% endblock %}
