{% extends 'admin/base.html.twig' %}

{% block title %}Fiche{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="mt-5 py-3 text-center">Détail de la fiche</h1>
    <div class="car">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Numéro de la fiche :</th>
            <td>{{ fiche.id }}</td>
        </tr>
        <tr>
            <th>Créée le :</th>
            <td>{{ fiche.createdAt ? fiche.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Concernant Mr </th>
            <td>{{ fiche.patient.firstName }} {{ fiche.patient.lastName }}</td>
        </tr>
        <tr>
            <th >Commentaires:</th>
            <td class="font-weight-bold text-info">{{ fiche.comment }}</td>
        </tr>
        <tr>
            <th >Note de l'infirmier(ère) ou Services :</th>
            <td class="font-weight-bold text-info">{{ fiche.nurseNote }}</td>
        </tr>
        <tr>
            <th>Rédigée par </th>
            <td>{{ fiche.user.firstName }} {{ fiche.user.lastName }} </td>
        </tr>
        <tr>
            <th>Adresse du patient </th>
            <td>{{ fiche.patient.adress }} {% if fiche.patient.floor is not null %},<br>Etage :{{ fiche.patient.floor }} {% endif %}
               <br> Code postal:{{ fiche.patient.cp }} <br>  {{ fiche.patient.town |upper }}</td>
        </tr>
        </tbody>
    </table>
  <div class="text-center">
      <a href="{{ path('admin_fiche') }}" class="btn-lg btn-outline-success ">Retour vers liste </a>
  </div>


    {#<a href="{{ path('admin_fiche_edit', {'id': fiche.id}) }}">edit</a>#}

    {#{{ include('admin_fiche/_delete_form.html.twig') }}#}
    </div>
    </div>
{% endblock %}
