{% extends 'admin/base.html.twig' %}


    {% block title %}User index{% endblock %}

    {% block body %}
        <div class="container ">
            <h1 class="text-center mt-5 pt-5">Fiches de : {{ patient.firstName }} {{ patient.lastName}} </h1>
            {#<div>
                <a class="btn btn-success" href="{{ path('admin_patient_new') }}">Ajouter un intervenant</a>
            </div>#}
                <div class="row">
                    <div class="col">
                        <form action="{{ path('admin_patientFiche_filter',{'id':patient.id}) }}" method="">
                            <input type="date" name="_date1">
                            <input type="date" name="_date2">
                            <input type="submit" value="Télécharger" class="btn btn-primary btn-sm my-1">
                        </form>
                    </div>
                    <div class="col text-right">
                        <a href="{{ path('admin_fiche') }}" class="btn btn-sm btn-success ">retour </a>
                    </div>
                </div>
            <table class="table table-bordered my-2 ">
                <thead class="thead-dark ">
                <tr class="text-center">
                    <th scope="col">Réf</th>
                    <th scope="col">Date</th>
                    <th scope="col">Commentaire</th>
                    <th scope="col">Note de l'infirmier(ère) ou Services </th>
                    <th scope="col">Intervenant</th>
                </tr>
                </thead>
                <tbody>
                {% for fiche in fiches %}
                    <tr {% if loop.first %} class="text-danger "{% else %}{% endif %}>
                        <th scope="row"  >{{ fiche.id }}</th>
                        <th scope="row">{{ fiche.createdAt | date('d/m/Y H:i') }}</th>
                        <th scope="row">{{ fiche.comment }}</th>
                        <th scope="row">{{ fiche.nurseNote }}</th>
                        <th scope="row">{{ fiche.user.firstName }} {{ fiche.user.lastName }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(fiches) }}
            </div>
        </div>

    {% endblock %}

