{% extends 'admin/base.html.twig' %}

{% block title %} Edit User {% endblock %}

{% block body %}

    <div class="container my-5 py-5 ">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Formulaire de création de patient</h1>
            </div>
        </div>
        <div class="w-50 mx-auto">
            <div class="bg-light">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.gender) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.code) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.adress) }}
                        {{ form_row(form.floor) }}
                        {{ form_row(form.cp) }}
                        {{ form_row(form.town) }}
                        {#{{ form_row(form.family) }}#}
                        {{ form_row(form.is_active) }}

                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="bg-info  my-3 py-3" value="Valider la création">
                </div>
                {{ form_end(form) }}
            </div>
            <div class="text-right">
                <a href="{{ path('admin_patient_fiches') }}" >* abandonner *</a>
            </div>
        </div>
    </div>
{% endblock %}
