{% extends 'admin/base.html.twig' %}


    {% block title %}Liste des utilisateurs{% endblock %}

    {% block body %}
        <div class="container ">

            <h1 class="text-center mt-5 pt-5">LISTE DE VOS PATIENTS </h1>
            <div class="row">
                <div class="col"><a class="btn btn-success" href="{{ path('admin_patient_new') }}">Ajouter un patient</a></div>
                <div class="col text-right"> <span><a  class="btn btn-primary my-1" href="{{ path('admin_patient_pdf') }}">Télécharger</a></span></div>
            </div>
            <table class="table table-bordered mt-3 ">
                <thead class="thead-dark ">
                <tr class="text-center">
                    <th scope="col">Réf</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Etat compte</th>
                    <th scope="col">Détail</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Transmissions</th>
                    <th scope="col">Diagramme d'Intervention</th>

                </tr>
                </thead>
                <tbody>
                {% for patient in patients %}

                    <tr class="text-center">
                        <th scope="row">{{ patient.id }}</th>
                        <td>{{ patient.lastName }} {{ patient.firstName }}</td>
                        <td> {% if patient.getIsActive %} <span class="text-success font-weight-bold">Compte actif</span> {% else %}Compte désactivé{% endif %}</td>
                        <td><a class="btn-outline-info"
                               href="{{ path('admin_patient_show', {'id': patient.id}) }}">Détail</a></td>
                        <td><a class="btn btn-outline-success"
                               href="{{ path('admin_patient_edit', {'id': patient.id}) }}">Modifier</a></td>
                        {% if patient.fiches|length>0 %}
                        <td><a href="{{ path('admin_fiche_transmissions',{'id': patient.id}) }}" class="btn btn-outline-primary">Transmissions
                                </a></td>
                        {% else %}
                            <td>Aucune transmission pour ce patient</td>
                            {% endif %}
                        {% if patient.interventions|length>0 %}
                            <td><a href="{{ path('admin_intervention_recap',{'id': patient.id}) }}" class="btn btn-outline-info">Diag Int
                                </a></td>
                        {% else %}
                            <td>Aucune intervention pour ce patient</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(patients) }}
            </div>
        </div>

    {% endblock %}

