{% extends 'pdf/base_pdf.html.twig' %}

    {% block title %}User index{% endblock %}

    {% block body %}
        <div class="container ">
            <h1 x-placement="text-center">Liste des patients </h1>


            <table border=1>
                <thead>
                <tr class="text-center">
                    <th scope="col">Code patient</th>
                    <th scope="col">Nom Prénom</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Etage</th>
                    <th scope="col">Cp</th>
                    <th scope="col">Ville</th>
                </tr>
                </thead>
                <tbody>
                {% for patient in patients  %}
                    <tr {% if loop.first %} class="text-danger "{% else %}{% endif %}>
                        <td>{{ patient.code}}</td>
                        <td>{{ patient.lastName }} {{ patient.firstName }} </td>
                        <td>{{ patient.phone }}</td>
                        <td>{{ patient.adress }}</td>
                        <td>{{ patient.floor }}</td>
                        <td>{{ patient.cp }}</td>
                        <td>{{ patient.town }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {# en cas d'image  c'est l'url que je mets : {{ absolute_url(asset('images/annonces/'~patient.image)) }} #}
    {% endblock %}

