{% extends 'admin/base.html.twig' %}

{% block title %}Détail utilisateur {% endblock %}

{% block body %}


    <div class="container">
        <div>
             <a class="btn btn-success" href="{{ path('admin_patient_new') }}">Ajouter un intervenant</a>
         </div>

        <h1 class="text-center my-5 py-5">Patient : <strong class="text-black-50">{{ patient.firstName }} {{ patient.lastName }}</strong></h1>
        <table class="table table-bordered mb-5">
            <thead class="thead-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Nom </th>
                <th scope="col">Téléphone</th>
                <th scope="col">Modifier</th>
                <th scope="col">Transmissions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <th scope="row">{{ patient.id }}</th>
                <td>{{ patient.lastName }} {{ patient.firstName }}</td>
                <td>{{ patient.phone }}</td>
                <td> <a class="btn btn-info"
                        href="{{ path('admin_patient_edit', {'id': patient.id}) }}">Modifier</a></td>
                <td>  <a href="{{ path('admin_patient_fiches',{'id': patient.id}) }}" class="btn btn-primary">Transmissions
                        de {{ patient.firstName}} {{ patient.lastName }}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>




{% endblock %}
