{% extends 'service/base.html.twig' %}

{% block title %}Intervention pour le patient {% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-5 pt-5">DIAGRAMME D'INTERVENTION DE : {{ patient.firstName }} {{ patient.lastName }}</h1>

        <div class="col">
            <div class="row">
                <div class="col">
                    <form action="{{ path('service_intervention_patient_pdf',{'id':patient.id}) }}" method="">
                        <input type="date" name="_date1">
                        <input type="date" name="_date2">
                        <input type="submit" value="Télécharger" class="btn btn-primary btn-sm">
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-bordered " style="width:50%;">
            <thead>
            <tr class="bg-secondary">
                <th scope="col">GROUPE</th>
                <th scope="col" style="width:10%;">TACHES</th>
                {% for intervention in interventions %}

                    <th scope="col" >Valeur</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% if patient.interventions|length>0 %}
            <tr>
                <th rowspan="12" class="bg-primary text-center ">SOINS D'HYGIENE ET DE CONFORT</th>
                <th scope="row">ID</th>
                {% for intervention in interventions %}
                    <td>{{ intervention.id }}</td>
                {% endfor %}
            </tr>
            <tr>

                <th scope="row">DATE</th>
                {% for intervention in interventions %}
                    <td>{{ intervention.createdAt|date('d/m/Y H:i') }}</td>
                {% endfor %}

            <tr>
                <th scope="row">DOUCHE + SHAMPOING</th>
                {% for intervention in interventions %}
                    {% if intervention.getDoucheShampoing%} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">TOILETTE COMPLETE</th>
                {% for intervention in interventions %}
                    {% if intervention.getToiletteComplete %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">SOINS DE BOUCHE</th>
                {% for intervention in interventions %}
                    {% if intervention.soinsDeBouche %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">SOINS ESTHETIQUE</th>
                {% for intervention in interventions %}
                    {% if intervention.soinsEsthetique %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">HABILLAGE</th>
                {% for intervention in interventions %}
                    {% if intervention.habillage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">PYJAMA</th>
                {% for intervention in interventions %}
                    {% if intervention.pyjama %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">ONGLES DES MAINS </th>
                {% for intervention in interventions %}
                    {% if intervention.onglesDeMains %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">CREME DE MASSAGE</th>
                {% for intervention in interventions %}
                    {% if intervention.cremeMassage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">RASAGE</th>
                {% for intervention in interventions %}
                    {% if intervention.rasage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">CHANGEMENT DE POSITION</th>
                {% for intervention in interventions %}
                    {% if intervention.changmentDePosition %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th rowspan="12" class="bg-success text-center">ENTRETIEN DOMICILE</th>
                <th scope="row">REFECTION DU LIT</th>
                {% for intervention in interventions %}
                    {% if intervention.refectionLit %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">CHANGEMENT DE DRAP</th>
                {% for intervention in interventions %}
                    {% if intervention.changementDeDrap %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">ASPIRATEUR</th>
                {% for intervention in interventions %}
                    {% if intervention.aspirateur %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th scope="row">VAISSELLE</th>
                {% for intervention in interventions %}
                    {% if intervention.vaisselle %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th scope="row">LESSIVE</th>
                {% for intervention in interventions %}
                    {% if intervention.lessive %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">NETTOYAGE SANITAIRE</th>
                {% for intervention in interventions %}
                    {% if intervention.nettoyageSanitaire %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">RANGEMENT PLACARD VETEMENT </th>
                {% for intervention in interventions %}
                    {% if intervention.rangementPlacardVetement %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">REPASSAGE</th>
                {% for intervention in interventions %}
                    {% if intervention.repassage %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">DEPOUSSIERAGE MEUBLES</th>
                {% for intervention in interventions %}
                    {% if intervention.depoussierageMeubles %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">NETTOYAGE FRIGO</th>
                {% for intervention in interventions %}
                    {% if intervention.nettoyageFrigo %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">NETTOYAGE MICRO ONDE</th>
                {% for intervention in interventions %}
                    {% if intervention.nettoyageMicroOnde %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">DESCENTE POUBELLE</th>
                {% for intervention in interventions %}
                    {% if intervention.descentePoubelle %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th rowspan="6" class="bg-light text-center">DIVERS</th>
                <th scope="row">COMMUNICATION</th>
                {% for intervention in interventions %}
                    {% if intervention.communication %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th scope="row">COURSES</th>
                {% for intervention in interventions %}
                    {% if intervention.courses %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">PREPARATION DU PETIT DEJEUNER DU LENDEMAIN</th>
                {% for intervention in interventions %}
                    {% if intervention.preparationPetitDejeunerLendemain %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">PROMENADE</th>
                {% for intervention in interventions %}
                    {% if intervention.promenade %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">APPRETER LE GOUTER</th>
                {% for intervention in interventions %}
                    {% if intervention.appreterLeGout %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">REPAS</th>
                {% for intervention in interventions %}
                    {% if intervention.repas %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th rowspan="4" class="bg-warning text-center">SURVEILLANCE</th>
                <th scope="row">PRISE DE MEDICAMENTS</th>
                {% for intervention in interventions %}
                    {% if intervention.priseMedicaments %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th scope="row">SELLES</th>
                {% for intervention in interventions %}
                    {% if intervention.selles %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th scope="row">URINE</th>
                {% for intervention in interventions %}
                    {% if intervention.urine %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}

                {% endfor %}
            </tr>
            <tr>
                <th scope="row">ETAT CUTANE + FRICTION</th>
                {% for intervention in interventions %}
                    {% if intervention.getEtatCutaneFriction %} <td class="text-success" >Fait </td>{% else %}<td class="text-warning">Pas fait </td>{% endif %}
                {% endfor %}
            </tr>
                <tr>
                    <th rowspan="2" class="bg-success text-center">JUSTIFICATIFS</th>
                    <th scope="row">PATIENT</th>
                    {% for intervention in interventions %}
                        <td class="text-success" >{{ intervention.patient.firstName }} {{ intervention.patient.lastName }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">INTERVENANT</th>
                    {% for intervention in interventions %}
                        <td class="text-success" >{{ intervention.user.firstName }} {{ intervention.user.lastName }} </td>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    <th  class="bg-warning text-center ">VIDE</th>
                    <th scope="row">MESSAGE</th>
                        <td class="text-danger"> PAS DE DIAGRAMME D'INTERVENTION POUR CE PATIENT</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>



{% endblock %}
