{% extends 'admin/base.html.twig' %}

{% block title %} Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
    <link rel="stylesheet" href="{{ asset('css/theme.css') }}">
    <link rel="stylesheet" href="{{ asset('css/tempoName.css') }}">
{% endblock %}

{% block body %}
    <!-- JUMBOTRON  -->
    <header class="bg-light py-5 mb-2 w-100" style="background-image: url({{ asset('images/admin.jpg') }});background-size: 100%;">
        <div class="container h-100 ">
            <div class="row h-100 align-items-center w-100">
                <div class="col-lg-12  text-center" >
                    <h1 class=" text-danger my-5 py-5  font-weight-bold ">Administration </h1>
                </div>
            </div>
        </div>
    </header>
    <!-- FIN JUMBO -->
    <!-- PAGE ALERT  -->
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                {% for message in app.flashes ('success') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- MAIN CONTENT-->
    <div class="main-content">
        {#<div style="width: 50%">
            <h2 class="text-center">RECAPITULATIF D'ADMINISTRATION</h2>
        </div>#}
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Quelques chiffres</h2>
                         <p id="tempo">{{ app.user.firstName }}</p>
                        </div>
                     </div>
                </div>
                <div class="row m-t-25">
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-account-o"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{ allFiches|length }}</h2>
                                        <span>Fiches de transmission </span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{ interventions|length }}</h2>
                                        <span>Diag Int </span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c3">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-calendar-note"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{ patients|length }}</h2>
                                        <span>Nos patients</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c4">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-money"></i>
                                    </div>
                                    <div class="text">
                                        <h2>{{users|length}}</h2>
                                        <span>Nos salariés</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart4"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="title-1 m-b-25">Dernières fiches Transmission</h2>
                        <div class="table-responsive table--no-card m-b-40">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                <tr>
                                    <th>date</th>
                                    <th>commentaire</th>
                                    <th>note infirmier</th>
                                    <th>nom</th>
                                    <th class="text-right">prénom</th>
                                    <th class="text-right">Intervenant </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for fiche in fiches %}
                                <tr>
                                    <td>{{ fiche.createdAt|date('d/m/Y H:i') }}</td>
                                    <td>{{ fiche.comment }}</td>
                                    <td>{{ fiche.nurseNote }}</td>
                                    <td class="text-right">{{ fiche.patient.firstName }}</td>
                                    <td class="text-right">{{ fiche.patient.lastName }}</td>
                                    <td class="text-right">{{fiche.user.firstName}} {{fiche.user.lastName}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="title-1 m-b-25">En cours  </h2>
                        <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
                            <div class="au-card-inner">
                                <div class="table-responsive">
                                    <table class="table table-top-countries">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Statut</th>
                                            <th class="text-center">Intervenant</th>
                                            <th class="text-center">Date</th>
                                        </tr>

                                        </thead>
                                        <tbody>
                                        {% for fiche in fiches %}
                                            <tr class="text-center">
                                                <td>{% if fiche.user.isNurse %}Inf {% else %}Aux{% endif %}</td>
                                                <td>{{ fiche.user.firstName }} {{ fiche.user.lastName }}</td>
                                                <td class="text-right">{{ fiche.createdAt|date('d/m/Y H:i') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->


    <!-- Page Content -->
    <div class="container-fluid">
        <!-- /.row -->
        <h2 class="text-center p-2 text-dark">DERNIERES FICHES TRANSMISES</h2>
        <div class="row section__content section__content--p30">
            {# {% set lettres= ['A','B','C','D','E','F','G','H'] %}
            {% set longueur= lettres|length %} #}
            {% for fiche in fiches %}
                {# {% set maLettre=lettres[random(longueur-1)] %} #}
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        {# <img class="card-img-top w-100 h-10" src="{{ asset('images/'~maLettre~'.jpg')}}" alt="" > #}
                        <div class="card-body">
                            <h4 class="card-title bg-success text-center">{% if fiche.patient.gender is same as ('M') %}Mr{% else %}Mme{% endif %} {{ fiche.patient.firstName }} {{ fiche.patient.lastName }}</h4>
                            <p class="card-text m-0"><span class="text-danger"><i
                                            class="far fa-comments">Commentaire :</i></span> <strong
                                        class=""> {{ fiche.comment }}</strong></p>
                            <hr>
                            <p class="card-text m-0"><span class="text-danger"><i class="far fa-comments">Note infirmier :</i></span>
                                <strong class=""> {{ fiche.nurseNote }}</strong></p>
                            <hr>
                            <p class="card-text m-0 "><span class="text-info"><i class="fas fa-user-nurse"> Intervenant : {% if fiche.user.isNurse %}Inf {% else %}Aux{% endif %}  </i></span> {{ fiche.user.firstName }} {{ fiche.user.lastName }}
                            </p>
                            <hr>
                            <p class="card-text m-0"><span class="text-info"> <i class="far fa-calendar-alt"> En date du : </i></span>{{ fiche.createdAt | date('d/m/Y H:i') }}
                            </p>
                            <hr>
                            <div class="card-footer mx-auto  bg-light">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <a href="{{ path('admin_fiche_show',{'id':fiche.id}) }}"
                                           class="btn btn-sm btn-secondary">Détail sur cette fiche</a>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-sm btn-outline-secondary m-1"><a
                                                    href="{{ path('admin_fiche_create',{'id':fiche.patient.id}) }}"
                                                    style="text-decoration: none">Commenter cette fiche </a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        <!-- HEADER DESKTOP-->

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 mb-5">
                <h2>En quelques mots ...</h2>
                <hr>
                <p>Gestion administrative des différents accès et visibilité sur toutes les fiches en cours </p>
                <a class="btn btn-primary btn-lg" href="{{ path('admin_patient_fiches') }}">Liste des patients &raquo;</a>
            </div>
            <div class="col-md-4  mb-5">
                <h3>Contact</h3>
                <hr>
                <address>
                    <br>AD SENIORS
                    <br> 28 rue Jules Brunard
                    <br> 69007 Lyon
                    <br> RCS PARIS-Siret 81328896600043-code APE 8810A
                    <br> Agrément : SAP813288966
                </address>
                <address>
                    <abbr title="Téléphone">T:</abbr>
                    09 72 89 11 43
                    <br>
                    <abbr title="Email">E:</abbr>
                    <a href="mailto:gestion@adseniorslyon.com">gestion@adseniorslyon.com</a>
                </address>
            </div>
        </div>
    </div>

    <!-- -->

    <!-- Footer -->
    <footer class="py-5 mt-5 bg-dark ">
        <div class="container-fluid">
            <p class="m-0 text-center text-white">Copyright &copy; Tulipa {{ 'now'| date('Y') }} </p>
        </div>
        <!-- /.container -->
    </footer>

<!-- Essai   -->




{% endblock %}
