{% extends 'admin/base.html.twig' %}

{% block title %}Mon compte {% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row ">
           <div class="col">
                <h1 class="text-center py-5">MES DROITS </h1>
                <ul>
                    <li>Vous pouvez créer un patient</li>
                    <li>Vous pouvez modifier les informations d'un patient</li>
                    <li>Vous pouvez valider l'accès à un utilisateur</li>
                    <li>Vous pouvez bloquer un utilisateur</li>
                </ul>
            </div>
            <div class="col ">
                <h1 class="text-center py-5">MES INFORMATIONS </h1>
                <div class="card-group mx-auto  " style="width:18rem;">
                    <div class="card ">
                        <img class="card-img-top" src="{{ asset('images/admin.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
                            <p class="card-text">Votre Adress mail de contact: {{ user.email }}</p>
                            <p class="card-text"><small class="text-muted">Téléphone : {{ user.phone }}</small></p>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
