{% extends 'service/base.html.twig' %}

{% block title %}Liste des patients{% endblock %}

{% block body %}

    <div class="container-fluid">
        <main role="main">

            <div class="container">
                <div class="row my-2 py-5">
                    <div class="col offset-md-8 form-inline d-inline mt-2">
                        {{ form_start(form, {'action': path('service_patient_search'), 'method': 'post'}) }}
                        <div class="row">
                            <div class="col"> {{ form_row(form.lastName) }}</div>
                            <div class="col"><input type="submit" class="btn btn-secondary " value="Rechercher">
                                <span><a href="{{ path('service_patient_index') }}"><i class="fa fa-redo">initialiser</i></a></span>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

            <div class="album  bg-light">
                <div class="container">
                    <h1 class="text-center mb-5 text"><u>Liste de vos patients </u></h1>
                    <div class="row">
                        {% for patient in patients  %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header  text-center bg-info" >
                                        <strong>{% if patient.gender is same as ('M') %}Monsieur{% else %}Madame{% endif %} {{ patient.firstName }} {{ patient.lastName }}</strong>
                                    </div>
                                    <div class="card-body">
                                        <div>
                                            <div class="row">
                                                <div class="col"> <p>Téléphone : <strong>{{ patient.phone }} </strong></p></div>
                                                <div class="col">Code :{{ patient.code }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><p>Adresse : <strong>{{ patient.adress }} </strong><br> Etage : {{ patient.floor }} </p></div>
                                                <div class="col"> <p class="m-0 p-0">CP:  {{ patient.cp }} </p>
                                                    <p class="m-0 p-0" >Ville : {{ patient.town}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="card-text text-info"> Vous pouvez accéder aux fiches de transmission de  ce patient ou à son diagramme de soins :</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group mx-auto">
                                                {% if patient.getIsActive  %}
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <button type="button" class="btn btn-sm btn-outline-primary m-1" style="max-width: 100%"><a href="{{ path('service_patient_transmissions',{'id':patient.id})  }}"  style="text-decoration: none">Fiches du patient </a></button>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button type="button" class="btn btn-sm btn-outline-secondary" style="max-width: 100%"><a href="{{ path('service_intervention_recap',{'id':patient.id}) }}" style="text-decoration: none">Diagramme d'interventions</a></button>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="bg-light">
                                                        <p class="text-center font-weight-bold">Aucune fiche /Aucun diagramme </p>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <small class="text-muted">{% if patient.getIsActive %} <i class="far fa-check-circle text-success "></i>{% else %}<i class="fas fa-times-circle text-danger"></i>{% endif %}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(patients) }}
                    <p class="float-right py-2">
                        <a href="{{ path('service_patient_index') }}"><i class="fas fa-arrow-up">Top</i></a>
                    </p>
                </div>
            </div>
        </main>
        <footer class="text-muted ">
            <div class="container">
                <p class="m-3 text-center text-dark">Copyright &copy; Tulipa {{ 'now'| date('Y') }} </p>
            </div>
        </footer>
    </div>
{% endblock %}

