{% extends 'service/base.html.twig' %}
{% block title %}Résultat de recherche {% endblock %}

{% block body %}
    <div class="container">
        <div>
            {% for message in app.flashes('erreur') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="card mb-3 w-50 mx-auto">
            <img class="card-img-top" src="{{ asset('images/sorry.png') }}" alt="emoji avec panneau sens interdit">
            <div class="card-body">
                <h4 class="card-title">Désolé ! Aucun patient à ce nom</h4>
                <p class="card-text"><small class="text-muted">{{ 'now'|date('d/m/Y H:i') }}</small></p>
            </div>
        </div>
    </div>
{% endblock %}
