{% extends 'service/base.html.twig' %}

{% block title %}Hello FicheController!{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center my-5 py-5">HISTORIQUE DES FICHES DU PATIENT </h1>
        <div class="mb-5 pb-3">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Numéro</th>
                    <th>Patient</th>
                    <th>Date de Création</th>
                    <th>Commentaire</th>
                    <th>Note Infirmier(ère)</th>
                    <th>Intervenant</th>
                </tr>
                </thead>
                <tbody>
                {% if patient.fiches|length>0 %}
                {% for fiche in patient.fiches | reverse %}
                    <tr {% if loop.first %}class="text-danger font-weight-bold border border-danger bg-light" {% endif %}>
                        <td>{{ fiche.id }}</td>
                        <td>{{ fiche.patient.firstName }} {{ fiche.patient.lastName }}</td>
                        <td>{{ fiche.createdAt |date('d/m/Y H:i:s') }}</td>
                        <td>{{ fiche.comment }}</td>
                        <td>{{ fiche.nurseNote }}</td>
                        <td>{{ fiche.user.lastName }} {{ fiche.user.firstName }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Aucune fiche de transmission pour ce client à ce jour :
                            <strong>{{ "now"|date("d/m/Y") }}</strong></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
