{% extends 'service/base.html.twig' %}


    {% block title %}User index{% endblock %}

    {% block body %}
        <div class="container ">

            <h1 class="text-center mt-5 pt-5">Fiches de {{ patient.firstName }} {{ patient.lastName}} </h1>
            {#<div>
                <a class="btn btn-success" href="{{ path('admin_patient_new') }}">Ajouter un intervenant</a>
            </div>#}
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h5>Période </h5>
                        <form action="{{ path('service_patientFiche_filter',{'id':patient.id}) }}" method="">
                            <input type="date" name="_date1">
                            <input type="date" name="_date2">
                            <input type="submit" value="Télécharger" class="btn btn-primary btn-sm">
                        </form>
                    </div>
                </div>
            </div>
            <table class="table table-bordered my-5 ">
                <thead class="thead-dark ">
                <tr class="text-center">
                    <th scope="col">Réf</th>
                    <th scope="col">Date</th>
                    <th scope="col">Commentaire</th>
                    <th scope="col">Note Infirmier(ère)</th>
                    <th scope="col">Intervenant</th>

                </tr>
                </thead>
                <tbody>
                {% for fiche in patient.fiches | reverse%}
                    <tr {% if loop.first %} class="text-danger "{% else %}{% endif %}>
                        <th scope="row"  >{{ fiche.id }}</th>
                        <th scope="row">{{ fiche.createdAt | date('d/m/Y H:i') }}</th>
                        <th scope="row">{{ fiche.comment }}</th>
                        <th scope="row">{{ fiche.nurseNote }}</th>
                        <th scope="row">{{ fiche.user.firstName }} {{ fiche.user.lastName }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('service_fiche_index') }}" class="btn btn-success">Retour à la liste</a>
        </div>

    {% endblock %}

