{% extends 'base.html.twig' %}

{% block title %}Mon Historique {% endblock %}

{% block body %}
    <div class="container ">
        <div class="row ">
            <div class="col">
                <h1 class="my-5 py-5 ">Présentation </h1>
                <div class="card mb-3">
                    <img class="card-img-top" src="{{ asset('images/04.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.lastName }} {{ user.firstName }}</h5>
                        <p class="card-text">Email :{{ user.email }}</p>
                        <p class="card-text"> Téléphone: {{ user.phone }}</p>
                    </div>
                </div>

            </div>
            <div class="col">
                <h1 class="text-center py-5 my-5">Récapitulatif de vos fiches de transmission</h1>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Nom du patient</th>
                        <th scope="col">Mon commnentaire</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fiche in pagination  %}
                        <tr{% if loop.first %} class="text-danger"{% endif %}>
                            <td >{{ fiche.createdAt | date('d/m/Y H:i:g') }}</td>
                            <td>{{ fiche.patient.lastName }} {{ fiche.patient.firstName }}</td>
                            <td> {{ fiche.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}



