
<h1>Nouvelle inscription sur votre site internet </h1>
<p>Bonjour vous avez une demande d'inscription dont voici les informations  :</p>
<ul>
     <li>Date d'inscription :{{ user.createdAt|date("d/m/Y H:i ") }}</li>
    <li>Nom : {{ user.lastName }}</li>
    <li>Prénom : {{ user.firstName }}</li>
    <li>Email : {{ user.email }}</li>
    <li>Téléphone : {{ user.phone }}</li>
    <li>Complément d'info  : {{ user.informations }}</li>
</ul>
<p>Vous pouvez dès à présent éditer cet utilisateur pour valider ou pas son inscription et définir son rôle
    <a href="{{ absolute_url(path('login') )}}">ADSENIOR </a></p>
<hr style="border-top: dotted 3px;" />
<p>Ceci est un mail automatique, vous ne pouvez pas directement y répondre</p>
<p>Contactez votre administrateur technique en cas d'urgence  </p>
<hr>
<p>Informations légales : En application de la loi informatique et libertés en date du
    6 Janvier 1978, vous disposez d'un droit d'accès, de rectification,
    de modification et de suppression des données qui vous concernent.
    Afin de préserver l'environnement, merci de n'imprimer ce courriel qu'en cas de nécessité.</p>
