
<h1>Réinitialisation de votre mot de passe perdu</h1>
<hr>
*** Ceci est un mail automatique, merci de ne pas y répondre ****
<hr>
<p>Bonjour vous avez oublié votre mot de passe ?
    Veuillez cliquer sur le lien ci-dessous afin de l'initialiser : </p>
<p><a href="{{ absolute_url(path('user_resetPassword', {'token': token})) }}">Nouveau mot de passe </a></p>
<hr style="border-top: dotted 3px;" />
<p>Ceci est un mail automatique, vous ne pouvez pas directement y répondre</p>
<p>Contactez nous  via votre espace client  </p>
<hr>
<p>Informations légales : En application de la loi informatique et libertés en date du
    6 Janvier 1978, vous disposez d'un droit d'accès, de rectification,
    de modification et de suppression des données qui vous concernent.
    Afin de préserver l'environnement, merci de n'imprimer ce courriel qu'en cas de nécessité.</p>
