<h1>Compte AD SENIORS  par Tulipa.fr  </h1>
<hr>
*** Ceci est un mail automatique, merci de ne pas y répondre ****
<hr>
<p>Bonjour,votre compte a été mis à jour par l'équipe d'AD SENIORS .
    Vous pouvez directement vous connecter depuis le lien suivant
    : <a href="http://tulipa.fr/index.php/login"> Lien direct d'accès à l'application</a> </p>
      <p><strong>Nous vous invitons à mettre ce lien dans vos favoris  afin de pas avoir à le rechercher à chaque fois </strong> </p>
      <p>En complément: http://tulipa.fr/index.php/login</p>
<p>Bien cordialement</p>
<br>Equipe Tulipa.fr

<hr style="border-top: dotted 3px;" />
<p>Ceci est un mail automatique, vous ne pouvez pas directement y répondre</p>
<hr>
<p>Informations légales : En application de la loi informatique et libertés en date du
    6 Janvier 1978, vous disposez d'un droit d'accès, de rectification,
    de modification et de suppression des données qui vous concernent.
    Afin de préserver l'environnement, merci de n'imprimer ce courriel qu'en cas de nécessité.</p>
