<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/webfonts/all.min.css') }}">
    <title>{% block title %} PDF DE LA PERIODE EN SELECTION  {% endblock %}</title>
</head>
<body class="container-fluid">
{% block body %}{% endblock %}
</body>
</html>
