{% extends 'admin/base.html.twig' %}


    {% block title %} listing Diag d'Int{% endblock %}

    {% block body %}
        <div class="container ">
            <h1 class="text-center mt-5 pt-5">HISTORIQUE DES DIAG D'INT </h1>
            <div class="w-100 ">
            <table class="table table-bordered my-5 ">
                <thead class="thead-dark ">
                <tr class="text-center">
                    <th scope="col">Réf</th>
                    <th>Date</th>
                    <th scope="col">Bénéficiaire</th>
                    <th scope="col">Intervenant</th>
                    <th scope="col">Lien vers le diag d'int  </th>
                    {#LTP ->Lien Transmission du Patient#}
                </tr>
                </thead>
                <tbody>
                {% for intervention in interventions   %}
                    <tr {% if loop.first %} class="text-danger font-weight-bold" {% endif %}>
                        <th scope="row">{{ intervention.id }}</th>
                        <td>{{ intervention.createdAt|date('d/m/Y H:i') }}</td>
                        <td>{{ intervention.patient.firstName }} {{ intervention.patient.lastName }}</td>
                        <td>{{ intervention.user.firstName }} {{ intervention.user.lastName }}</td>
                        <td><a href="{{ path('admin_intervention_recap',{'id':intervention.patient.id}) }}" >Lien vers ce diagramme  </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(interventions) }}
            </div>
        </div>

    {% endblock %}

