    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>404 HTML Template by Colorlib</title>
    </head>
    <body>
    <div id="notfound">
        <div class="notfound-bg">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>ERROR</h1>
            </div>
            <h2>Page ?????????????????</h2>


            {% if is_granted("ROLE_USER") %}
                <a href="{{ path('home') }}" class="btn btn-info">Retour à l'accueil </a>
            {% endif %}
            {% if is_granted("ROLE_INFIRMIER") %}
                <a href="{{ path('infirmier_home') }}" class="btn btn-info">Retour à l'accueil </a>
            {% endif %}

            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('admin_home') }}" class="btn btn-info">Retour à l'accueil </a>
            {% endif %}
            <a href="#">Homepage</a>
            <div class="notfound-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>

    </body>

    </html>














{% endblock %}
