<nav class="navbar navbar-expand-lg navbar-dark fixed-top " style="background-color: #ffa037">
    <div class="container">
        <a class="navbar-brand" href="{{ path('family_patients') }}"><i class="fas fa-home mr-2"></i>Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {#<li class="nav-item active">
                    <a class="nav-link" href="">DERNIERES FICHES
                        <span class="sr-only">(current)</span>
                    </a>
                </li>#}
                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon Compte
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                       {# <a class="dropdown-item" href="">Historique</a>#}
                        <a class="dropdown-item" href="{{ path('logout') }}">SE DECONNECTER</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
