{% extends 'pdf/base_pdf.html.twig' %}

    {% block title %}User index{% endblock %}

    {% block body %}
        <div class="container ">
            <h1 x-placement="text-center">FICHES DE TRANSMISSION</h1>
            {#<div>
                <a class="btn btn-success" href="{{ path('admin_patient_new') }}">Ajouter un intervenant</a>
            </div>#}
            {# <div class="row">
           Ligne présente dans la version 1 sans pdf , non utile dans le cas d'un pdf
                <div class="col">
                    <a href="{{ path('admin_patient_fiches') }}" class="btn btn-success">retour</a>
                </div>
            </div>#}
            <h3>Patient(e) : {{ patient.firstName }} {{ patient.lastName }} </h3>
            <table border=1>
                <thead>
                <tr class="text-center">
                    <th scope="col">Code patient</th>
                    <th scope="col">Patient </th>
                    <th scope="col">Date</th>
                    <th scope="col">Commentaire</th>
                    <th scope="col">Intervenant</th>
                </tr>
                </thead>
                <tbody>
                {% for fiche in fiches | reverse %}
                    <tr {% if loop.first %} class="text-danger "{% else %}{% endif %}>
                        <td>{{ fiche.patient.code}}</td>
                        <td>{{ fiche.patient.firstName }} {{ fiche.patient.lastName }}</td>
                        <td>{{ fiche.createdAt | date('d/m/Y H:i') }}</td>
                        <td>{{ fiche.comment }}</td>
                        <td>{{ fiche.user.firstName }} {{ fiche.user.lastName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {# en cas d'image  c'est l'url que je mets : {{ absolute_url(asset('images/annonces/'~patient.image)) }} #}
    {% endblock %}

