{% extends 'service/base.html.twig' %}


    {% block title %}Historique des fiches{% endblock %}

    {% block body %}
        <div class="container ">
            <h1 class="text-center mt-5 pt-5">HISTORIQUE DES FICHES DE TRANSMISSION </h1>
            <div class="w-100 ">
                <table class="table table-bordered my-5 ">
                    <thead class="thead-dark ">
                    <tr class="text-center">
                        <th scope="col">Réf</th>
                        <th>Date</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Commentaire</th>
                        <th scope="col">Note infirmier(ère)</th>
                        <th scope="col">Intervenant</th>
                        <th scope="col">Détail sur cette fiche</th>
                        <th scope="col">Lien vers les fiches </th>
                        {#LTP ->Lien Transmission du Patient#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for fiche in fiches  %}
                        <tr {% if loop.first %} class="text-danger font-weight-bold" {% endif %}>
                            <th scope="row">{{ fiche.id }}</th>
                            <td>{{ fiche.createdAt|date('d/m/Y H:i') }}</td>
                            <td>{{ fiche.patient.firstName }} {{ fiche.patient.lastName }}</td>
                            <td>{{ fiche.comment }}</td>
                            <td>{{ fiche.nurseNote }}</td>
                            <td>{{ fiche.user.firstName }} {{ fiche.user.lastName }}</td>
                            <td><a href="{{ path('service_fiche_show',{'id':fiche.id}) }} ">Détail sur fiche </a></td>
                            <td><a href="{{ path('service_patient_transmissions',{'id':fiche.patient.id}) }}" >Les transmissions de {{ fiche.patient.lastName }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(fiches) }}
            </div>
        </div>

    {% endblock %}


